#content-validator{
	background: #fff;
	color: #333;
}

h1{
	margin: 1em 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	font: bold 12px/.95em 'Gotham Medium', Arial, sans-serif;
}

h1 img{
	vertical-align: text-bottom;
	max-height: .9em;
}

.form{
	background: #eee;
	padding: 1em;
	position: relative;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-icon{
	display: none;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	border: .25rem solid #ccc;
	border-top-color: #333;
	animation: spin 1s infinite linear;
	position: absolute;
	top: .5em;
	right: 1em;
}

.loading .loading-icon{
	display: block;
}

label{
	font-weight: bold;
	margin: 0 0 .5em;
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 0 0 .5em;
}

input{
	outline: none;
}